#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.sln.DotSettings.user
*.user
*.sdf
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
The Noob Bot/The Noob Bot.opensdf
The Noob Bot/RecastLayer/Release/*
docs/updatebase_directory/CombatClasses/Tnb_CombatClass.cs
docs/updatebase_directory/CombatClasses/Tnb_CombatClass.dll
docs/updatebase_directory/CombatClasses/Tnb_AntiAFKClass.cs
docs/updatebase_directory/CombatClasses/Tnb_AntiAFKClass.dll
docs/updatebase_directory/HealerClasses/Tnb_HealerClass.cs
docs/updatebase_directory/HealerClasses/Tnb_HealerClass.dll
docs/updatebase_directory/Plugins/TnbAutoEquipper.cs
docs/updatebase_directory/Plugins/TnbAutoEquipper.dll
docs/updatebase_directory/Plugins/TnbBroadcaster.cs
docs/updatebase_directory/Plugins/TnbBroadcaster.dll
docs/updatebase_directory/Plugins/TnbAutoInterrupt.cs
docs/updatebase_directory/Plugins/TnbAutoInterrupt.dll
docs/updatebase_directory/Profiles/Battlegrounder/ProfileType/CSharpProfile/TheNoobBotCP.cs
docs/updatebase_directory/Profiles/Battlegrounder/ProfileType/CSharpProfile/TheNoobBotCP.dll
docs/updatebase_directory/RecastLayer.dll
docs/updatebase_directory/nManager.dll
docs/updatebase_directory/Products/*
docs/updatebase_directory/StormLib.dll
docs/updatebase_directory/Plugins/CEREWhisperForwarding.dll
docs/updatebase_directory/Plugins/CEREWhisperForwarding.cs
docs/updatebase_directory/Plugins/CEREAutoUseItem.cs
docs/updatebase_directory/Plugins/CEREAutoUseItem.dll
docs/updatebase_directory/Plugins/TnbNPCRadar.dll
docs/updatebase_directory/CombatClasses/Tnb_Deathknight.cs
docs/updatebase_directory/CombatClasses/Tnb_DemonHunter.cs
docs/updatebase_directory/CombatClasses/Tnb_Druid.cs
docs/updatebase_directory/CombatClasses/Tnb_Hunter.cs
docs/updatebase_directory/CombatClasses/Tnb_Mage.cs
docs/updatebase_directory/CombatClasses/Tnb_Monk.cs
docs/updatebase_directory/CombatClasses/Tnb_Paladin.cs
docs/updatebase_directory/CombatClasses/Tnb_Priest.cs
docs/updatebase_directory/CombatClasses/Tnb_Rogue.cs
docs/updatebase_directory/CombatClasses/Tnb_Shaman.cs
docs/updatebase_directory/CombatClasses/Tnb_Warlock.cs
docs/updatebase_directory/CombatClasses/Tnb_Warrior.cs
docs/updatebase_directory/CombatClasses/OfficialTnbClassSelector/Tnb_DeathknightRotations.dll
docs/updatebase_directory/CombatClasses/OfficialTnbClassSelector/Tnb_DemonHunterRotations.dll
docs/updatebase_directory/CombatClasses/OfficialTnbClassSelector/Tnb_DruidRotations.dll
docs/updatebase_directory/CombatClasses/OfficialTnbClassSelector/Tnb_HunterRotations.dll
docs/updatebase_directory/CombatClasses/OfficialTnbClassSelector/Tnb_MageRotations.dll
docs/updatebase_directory/CombatClasses/OfficialTnbClassSelector/Tnb_MonkRotations.dll
docs/updatebase_directory/CombatClasses/OfficialTnbClassSelector/Tnb_PaladinRotations.dll
docs/updatebase_directory/CombatClasses/OfficialTnbClassSelector/Tnb_PriestRotations.dll
docs/updatebase_directory/CombatClasses/OfficialTnbClassSelector/Tnb_RogueRotations.dll
docs/updatebase_directory/CombatClasses/OfficialTnbClassSelector/Tnb_ShamanRotations.dll
docs/updatebase_directory/CombatClasses/OfficialTnbClassSelector/Tnb_WarlockRotations.dll
docs/updatebase_directory/CombatClasses/OfficialTnbClassSelector/Tnb_WarriorRotations.dll
meshReader/meshReader - 2013.opensdf
meshReader/meshReader.VC.opendb
meshReader/meshReader.VC.db
meshReader/meshReader.VC.VC.opendb
docs/updatebase_directory/Plugins/TnbAntiDrowning.dll
docs/updatebase_directory/Plugins/TnbAntiDrowning.cs
