#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.sln.DotSettings.user
*.user
*.sdf
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
The Noob Bot/The Noob Bot.opensdf
The Noob Bot/RecastLayer/Release/*
docs/updatebase_directory/CombatClasses/Tnb_CombatClass.cs
docs/updatebase_directory/CombatClasses/Tnb_CombatClass.dll
docs/updatebase_directory/CombatClasses/Tnb_AntiAFKClass.cs
docs/updatebase_directory/CombatClasses/Tnb_AntiAFKClass.dll
docs/updatebase_directory/HealerClasses/Tnb_HealerClass.cs
docs/updatebase_directory/HealerClasses/Tnb_HealerClass.dll
docs/updatebase_directory/Plugins/Tnb_TheAutoEquipper.cs
docs/updatebase_directory/Plugins/Tnb_TheAutoEquipper.dll
docs/updatebase_directory/Plugins/Tnb_TheBroadcaster.cs
docs/updatebase_directory/Plugins/Tnb_TheBroadcaster.dll
docs/updatebase_directory/Profiles/Battlegrounder/ProfileType/CSharpProfile/TheNoobBotCP.cs
docs/updatebase_directory/Profiles/Battlegrounder/ProfileType/CSharpProfile/TheNoobBotCP.dll
docs/updatebase_directory/RecastLayer.dll
docs/updatebase_directory/nManager.dll
docs/updatebase_directory/Products/*
docs/updatebase_directory/StormLib.dll
